body {
    font-family: "Sarabun", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 0;
}

.bar {
    background-color: #bdbdbd;
	width: 1px;
	height: 70%;
	margin: auto 4px;
}